@charset "UTF-8";

/* タイトル */
.page-title {
    text-align: center;
    color: #009A37;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

/* ーーーログイン画面ーーー */
.page-subtitle{
    text-align: center;
    font-size: 25px;
}

.login-button{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

/* メニューを2×2で配置 */
.apo-menu {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
    justify-items: center;
}

/* 各メニュー */
.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.menu-item img {
    width: 80px;
    height: 80px;
    margin: 0px;
}

.menu-item span {
    font-size: 30px;
    color: #333;
}
