@charset "UTF-8";
/* リスト形式の時の列名の文字サイズは15px,データは18px
それ以外は基本的に20px,大きめの文字は25px,項目名等小さい文字は15px*/


/* 検索ボックス */
.search{
    width: 80%;     
    margin: 0 auto;  
    display: flex;
    gap: 10px;
}

.search-box{
    width: 250px;
    height: 15px;
    font-size: 15px;
    margin-top: 30px;
    padding: 5px 10px;
    border: 2px solid #009A37;
}

.search-button{
    width: 80px;
    height: 30px;
    margin-top: 30px;
    font-size: 15px;
    color: white;
    background-color: #009A37;
    border: none;
}

/* ーーーーーー */

/* 企業テーブル */

.company-r {
    border-bottom: 1px solid #009A37;
}

.company-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

.company-table td {
    padding: 10px;
    /* text-align: center; */
    font-size: 18px;
}

.held,
.request {
    color: red;
}

.company-h {
    color: #009A37;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

/* 列幅の指定 */
.company-h:nth-child(1),
.company-table td:nth-child(1) {
    width: 35%;
}

/* 企業名 */
.company-h:nth-child(2),
.company-table td:nth-child(2) {
    width: 15%;
}

/* 開催有無 */
.company-h:nth-child(3),
.company-table td:nth-child(3) {
    width: 15%;
}

/* 申請状況 */
.company-h:nth-child(4),
.company-table td:nth-child(4) {
    width: 20%;
}

/* 卒業生人数 */
.company-h:nth-child(5),
.company-table td:nth-child(5) {
    width: 15%;
}

/* 詳細ボタン */
td a{
    text-decoration: none;
}

/* セル(td)も同じ幅で揃える */
.company-table td:nth-child(1) {
    width: 35%;
}

.company-table td:nth-child(2) {
    width: 15%;
}

.company-table td:nth-child(3) {
    width: 15%;
}

.company-table td:nth-child(4) {
    width: 20%;
}

.company-table td:nth-child(5) {
    width: 15%;
}

/* ーーー詳細/申請ーーー */
.top-info{
    width: 80%;     
    margin: 50px auto;  
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.company, .event{
    display: flex;
    gap: 30px;
    align-items: center;
}

.company-title,.event-title,.gra-title{
    color: #009A37;
    font-size: 15px;
}

.company-name{
    font-size: 25px;
}

.event-info{
    font-size: 20px;
}

/* テーブル */
.gra-table{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;  
}

.gra-table tr{
    border-bottom: 1px solid #009A37;    
}

.gra-table td{
    /* padding: 20px 0px; */
    word-wrap: break-word;
    word-break: break-all;
}

.gra-info{
    font-size: 18px;
    height: 80px;
}

.gra-table th:nth-child(1),
.gra-table td:nth-child(1) {
    width: 20%;
}

.gra-table th:nth-child(2),
.gra-table td:nth-child(2) {
    width: 50%;
}

.gra-table th:nth-child(3),
.gra-table td:nth-child(3) {
    width: 30%;
}

/* 下のボタンたち */

.bottom-btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10%;
    box-sizing: border-box;
    /* position: fixed; */
    bottom: 10%;
}

.bottom-btn button{
    font-size: 15px;
    color: white;
    background-color: #009A37;
    border: none;
    padding: 10px 20px;
}


/* ーーー開催一覧画面ーーー */

/* ページからのメッセージ */
.page-msg{
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
    font-weight: normal;
}

/* 開催テーブル */
.event-table{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;  
}

.event-h{
    color: #009A37;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.event-table td{
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

/* ーーー開催詳細ーーー */

/* 詳細情報 */
.detail{
    margin-top: 50px;
    margin-left: 10%;
}

.detail-row{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
}

.detail-title{
    color: #009A37;
    font-size: 15px;
}

.detail-company{
    font-size: 25px;
}

.detail-data{
    font-size: 20px;
}

/* 参加・不参加ボタン */
.entry-btn{
    display: flex;
    gap: 50px;
}

/* ーーー参加一覧/履歴ーーー */

/* 参加一覧、履歴 */
.join-history{
    width: 80%;
    margin: 30px auto;
}

.join-history-title{
    font-size: 20px;   
    border-left: 2px solid #009A37;
    margin: 20px 0px;
    padding-left: 10px;
}

/* 参加一覧、履歴テーブル */
.join-history-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.join-history-table td{
    font-size: 18px;
    padding: 10px 15px;
}

.join-history-table tr{
    border-bottom: 1px solid #009A37;
}

.join-history-table td:nth-child(1) {
    width: 60%;
    text-align: left;
}

.join-history-table td:nth-child(2),
.join-history-table td:nth-child(3) {
    width: 20%;
    text-align: center;
}